<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org/" lang="en">
<!-- Services-->
<section th:fragment="services" class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">A tu servicio</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Inmmuebles de calidad</h3>
                    <p class="text-muted mb-0">Nuestras propiedades cumplen con todas las normas de calidad ofreciendo la
                        mejor propiedad a tu alcance!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Haus |  Habita quien eres</h3>
                    <p class="text-muted mb-0">Todos nuestros inmmubles son ofrecidos en nuestro servicio de pago en
                        linea.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Multiples sucursales</h3>
                    <p class="text-muted mb-0">Tu puedes adquirir tu propiedad desde tu sucursal más cercana o
                        mediante el servicio que ofrecemos en línea!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Propiedades construidas con amor</h3>
                    <p class="text-muted mb-0">¿Es realmente una buena propiedad si no está construida con amor?</p>
                </div>
            </div>
        </div>
    </div>
</section>

</html>